body {
  width: 960px;
  margin: 0px auto;
}

header {
  text-align: center;
}

main {
  margin-top: 50px;
}

.pics {
  float: left;
  width: 300px;
  height: 300px;
  margin-right: 30px;
}

.pics:last-child {
  margin-right: 0px;
}

 footer {

 }
